<img src="https://drive.google.com/uc?id=1f6TNZ3SLOcyWnkdrliSdhdYOwSy0gYxC&export=download" />

<div class="container">
    <div class="container-fluid">
        <!--______________Selector Div________________-->
        <div class="selector">
            <div style="max-height:100px;">
                <!--____Registration form Btn____-->
                <div class="registration">
                    <button class="btnReg">Registration</button>
                </div>

                <!--____Table class Schedule Btn____-->
                <div class="schedule">
                    <button class="btnSched">Class Schedule</button>
                </div>
            </div>
        </div>

        <!--______________Component Div_______________-->
        <div class="component">

            <!--________________Registration Form Div________________-->
            <div class="regFormDiv">
                <h3 class="hr3">Registration Form</h3>

                <!--____________Full name____________-->
                <div class="fullName">
                    <div style="width:50%;">
                        <h4 class="hr4F">First Name</h4>
                        <input type="text" class="designInput" />
                    </div>
                    <div style="width:50%;">
                        <h4 class="hr4F">Last Name</h4>
                        <input type="text" class="designInput2" />
                    </div>
                </div>

                <!--____________Phone____________-->
                <div class="phone">
                    <h4 class="hr4F">Phone Number</h4>
                    <input type="text" class="designInputS" />
                </div>

                <!--____________Email____________-->
                <div class="email">
                    <h4 class="hr4F">Email Address</h4>
                    <input type="text" class="designInputS" />
                </div>

                <!--____________password____________-->
                <div class="pass">
                    <h4 class="hr4F">Password</h4>
                    <input type="password" class="designInputS" />
                </div>


                <button class="submitBtn">Submit</button>
            </div>

            <div class="scheduleDiv">
                <h3 class="hr3">Your Class Schedule</h3>

                <div class="divSched">

                    <div class="dataScheDiv">
                        <p class="pSched">Monday | 1 available</p>
                        <div class="divFSched">
                            <div style="width:80%">
                                <h4 class="titleC">BSIT602-NETWORK TECHNOLOGY 2 (LAB)</h4>
                                <p class="pCSched">12:30pm - 1:00 pm</p>
                            </div>
                            <div class="btnSchedFinal">
                                <div>
                                    <button class="btnForSched">See Details</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dataScheDiv">
                        <p class="pSched">Tuesday | 1 available</p>
                        <div class="divFSched">
                            <div style="width:80%">
                                <h4 class="titleC">IT CAPSTONE PROJECT 1 - BSIT 602</h4>
                                <p class="pCSched">7:00 am - 7:45 pm</p>
                            </div>
                            <div class="btnSchedFinal">
                                <div>
                                    <button class="btnForSched">See Details</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="dataScheDiv">
                        <p class="pSched">Wednesday</p>
                        <div class="divFSched">
                            <div class="desigNNoSched">
                                <div style="width:5px;min-height:100%;background:aqua;border-radius:50px;"></div>
                            </div>
                            <div class="modelNo">
                                <div>
                                    <span class="txtLine">No meetings</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="dataScheDiv">
                        <p class="pSched">Thursday | 2 available</p>
                        <div class="divFSched">
                            <div style="width:80%">
                                <h4 class="titleC">BSIT-NETWORK TECHNOLOGY 2 (LEC)</h4>
                                <p class="pCSched">8:00 am - 8:30 am</p>
                            </div>
                            <div class="btnSchedFinal">
                                <div>
                                    <button class="btnForSched">See Details</button>
                                </div>
                            </div>
                        </div>

                        <div class="divFSched" style="margin-top:10px;">
                            <div style="width:80%">
                                <h4 class="titleC">ADVANCED SYSTEMS INTEGRATION AND ARCHITECTURE</h4>
                                <p class="pCSched">1:30 pm - 2:30 pm</p>
                            </div>
                            <div class="btnSchedFinal">
                                <div>
                                    <button class="btnForSched">See Details</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="dataScheDiv">
                        <p class="pSched">Friday</p>
                        <div class="divFSched">
                            <div class="desigNNoSched">
                                <div style="width:5px;min-height:100%;background:aqua;border-radius:50px;"></div>
                            </div>
                            <div class="modelNo">
                                <div>
                                    <span class="txtLine">No meetings</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>